.login-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height: var(--heightWithNavbar);
}
.login-section{
    display: flex;
    width:70%;
    margin:0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--primary);
    padding: 60px 0;
}

.login-form{
    width:50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.ls-register{
    width:50%;
    padding-left: 20px;
}

.ls-register h1{
    text-align: left;
}

  .lf1{
      width: 70%;
  }

  .registerImage{
      width:80%;
      height:220px;
      margin:0 auto;
  }

  .registerImage img{
      width:100%;
      height: 100%;
  }

  .registerLink{
      color:var(--primary);
  }

  .registerLink:hover, .forgot-password a:hover{
      text-decoration: underline;
  }

  .forgot-password{
      margin-top: 20px;
  }

  .forgot-password a{
    color:var(--primary);
  }
  .lr-1 h1{
      text-align: center;
  }
  .lr-1{
      width:60%;
  }

  @media(max-width:1000px){
      .login-container{
          height: auto;
      }
      .login-section{
          display: block;
          width: 95%;
          box-shadow: none;
      }

      .login-form, .ls-register{
          width: 100%;
          display: block;
          padding: 0;
      }

      .lf1, .lr-1{
          margin:0 auto;
      }

      .ls-register{
          margin-top: 40px;
      }
  }
